.mainCard {
  width: 99.2%;
  height: 52px;
  border-radius: 12px;
  background-color: #707070;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 10px;
  margin: 15px 0 15px;
}

.title {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #f4f4f4;
  padding-left: 10px;
}

.icon {
  width: 23.68px;
  height: 28.12px;
  top: 624px;
  left: 262.81px;
  gap: 0px;
  opacity: 0px;
  font-size: 28px;
  padding-right: 40px;
}
