/* Стили для контейнера тарифов */
.cardContainer {
  display: grid; /* Используйте grid для таблицы */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px; 
  margin: 10px; 
}

/* Стили для списка */
.list {
  list-style-type: none; /* Убирает стандартные маркеры списка */
  padding: 0; /* Убирает отступы списка */
  margin: 0; /* Убирает внешние отступы */
}

.tariffItem {
  width: 100%; 
  height: 72px;
  background: #fdfdfd;
  border-radius: 12px; 
  padding: 10px;
  border: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemContent {
  display: flex;
  justify-content: space-between;
}

.label {
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #707070;
}

.value {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 75px;
  letter-spacing: 0.3px;
  text-align: end;
  color: #525252;
}

/* Адаптивность */
@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: 1fr; /* В колонку на мобильных устройствах */
  }
}
